In [3]:
import pandas as pd
import os
import zipfile

PLUTO dataframe = Property Land Use Tax lot Output

In [4]:
#unpack pluto dataframe in PUIDATA
puidata = os.getenv("PUIDATA")
if not puidata or puidata == '/nfshome/sjs909/PUIdata':
    puidata = '/nfshome/sjs909/PUIDATA'

os.environ["PUIDATA"] = puidata
os.environ["PUIDATA"]

'/nfshome/sjs909/PUIDATA'

In [5]:
# Unzip the file

with zipfile.ZipFile("%s/nyc_pluto_18v1.zip"%os.getenv("PUIDATA"),"r") as zip_ref:
    zip_ref.extractall("targetdir")

In [6]:
# read in the Manhattan and Brooklyn data in 2 separate dataframes
BkPLUTO = pd.read_csv("%s/targetdir/PLUTO_for_WEB/BK_18v1.csv"%os.getenv("PUIDATA"))
MnPLUTO = pd.read_csv("%s/targetdir/PLUTO_for_WEB/MN_18v1.csv"%os.getenv("PUIDATA"))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#Show first 10 row of each
MnPLUTO.head(10)

In [ ]:
BkPLUTO.head(10)

In [ ]:
# show Mn
MnPLUTO.columns

In [ ]:
# show bk
BkPLUTO.columns

# Drop all columns but ZipCode and LandUse

In [7]:
MnPLUTO.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],inplace=True, axis = 1 )

In [8]:
BkPLUTO.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],inplace=True, axis = 1 )

In [ ]:
BkPLUTO.head()

In [ ]:
MnPLUTO.head()

# Use groupby to count the building per LandUse code

In [ ]:
MnPLUTO.groupby?
# We want to count all zipcode objects per each land use type.

In [9]:
MnGroup = MnPLUTO.groupby(['LandUse']).count()
MnGroup = MnGroup.reset_index(drop=False)

In [10]:
BkGroup = BkPLUTO.groupby(['LandUse']).count()
BkGroup = BkGroup.reset_index(drop=False)

# convert the landuse to integer

In [11]:
#df.a = df.a.astype(float)
BkGroup['LandUse'] = BkGroup['LandUse'].astype(int)

In [12]:
BkGroup.head()

   LandUse  ZipCode
0        1   156271
1        2    66358
2        3     3437
3        4    22515
4        5     5743

In [13]:
MnGroup['LandUse'] = MnGroup['LandUse'].astype(int)

In [ ]:
MnGroup.head()

# Merge the dataframes on land use

In [14]:
both = MnGroup.merge(BkGroup, on ='LandUse')

In [ ]:
both.head()

In [ ]:
both.columns

# Rename the columns with descriptive names.

In [15]:
both = both.rename(columns={'ZipCode_x':'MN','ZipCode_y':'BK' })

In [16]:
both.head()

   LandUse     MN      BK
0        1   4019  156271
1        2  16246   66358
2        3   4881    3437
3        4   7238   22515
4        5   4465    5743

# Find online the LandUse data dictionary and replace code w the verbose description of it

In [17]:
#
idx_rename = {0:'One & Two Family Buildings',1:'Multi-Family Walk-Up Buildings',
              2:'Multi-Family Elevator Buildings',3:'Mixed Residential & Commercial Buildings',
              4:'Commercial & Office Buildings',5:'Industrial & Manufacturing',
              6:'Transportation & Utility',7:'Public Facilities & Institutions',
              8:'Open Space & Outdoor Recreation',9:'Parking Facilities',
              10:'Vacant Land'}

In [18]:
both = both.rename(index=idx_rename)

In [19]:
both = both.reset_index(level=0)

In [20]:
both = both.rename(columns={'index':'Decode','LandUse':'Code'})

In [21]:
both

                                      Decode  Code     MN      BK
0                 One & Two Family Buildings     1   4019  156271
1             Multi-Family Walk-Up Buildings     2  16246   66358
2            Multi-Family Elevator Buildings     3   4881    3437
3   Mixed Residential & Commercial Buildings     4   7238   22515
4              Commercial & Office Buildings     5   4465    5743
5                 Industrial & Manufacturing     6    726    4434
6                   Transportation & Utility     7    386    1040
7           Public Facilities & Institutions     8   2456    4330
8            Open Space & Outdoor Recreation     9    434     872
9                         Parking Facilities    10    679    4229
10                               Vacant Land    11   1199    6298

# Create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [22]:
both['luratio'] = both['MN'] / both['BK']

In [26]:
# defined function that returns True if the ratio is larger than 0, False otherwise get rid of for loop
def ratioify(value):
    if value > 1:
        return True
    else:
        return False

In [28]:
both['Manhattan wins'] = both['luratio'].apply(ratioify)

In [29]:
both

,Decode,Code,MN,BK,luratio,Manhattan wins
0,One & Two Family Buildings,1,4019,156271,0.025718,False
1,Multi-Family Walk-Up Buildings,2,16246,66358,0.244824,False
2,Multi-Family Elevator Buildings,3,4881,3437,1.420134,True
3,Mixed Residential & Commercial Buildings,4,7238,22515,0.321475,False
4,Commercial & Office Buildings,5,4465,5743,0.777468,False
5,Industrial & Manufacturing,6,726,4434,0.163735,False
6,Transportation & Utility,7,386,1040,0.371154,False
7,Public Facilities & Institutions,8,2456,4330,0.567206,False
8,Open Space & Outdoor Recreation,9,434,872,0.497706,False
9,Parking Facilities,10,679,4229,0.160558,False
10,Vacant Land,11,1199,6298,0.190378,False